<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agri-Vision</title>
    <script>
        (function() {
            try {
                var localTheme = localStorage.getItem('theme');
                var sysTheme = window.matchMedia('(prefers-color-scheme: dark)').matches;
                if (localTheme === 'dark' || (!localTheme && sysTheme)) {
                    document.documentElement.setAttribute('data-theme', 'dark');
                }
            } catch (e) {}
        })();
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <header>
        <h1>Agri-Vision</h1>
        <hr/>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul id="alert-list">
            {% for category, message in messages %}
                <li style="color: {% if category == 'error' %}red{% else %}green{% endif %};">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <footer>
        <hr>
        <p style="font-size:0.95em">Agri-Vision &copy; 2026</p>
    </footer>
</body>
</html>